body{
	background-color: #FFDAA5;
	/*background-color:#879E85;*/
}

h1{
	color: #515E52;
}

h2{
	color: #4AC740;
	font-size: 5em;
	position: absolute;
	margin-top: 25%;
	margin-left: 40%;
	width: 300px;
	height: 200px;
	background-color:#76677A;
	z-index:1;
}

#chunk_r1c1,
#chunk_r1c2,
#chunk_r1c3,
#chunk_r2c1,
#chunk_r2c2,
#chunk_r2c3,
#chunk_r3c1,
#chunk_r3c2,
#chunk_r3c3 {
	margin: 6px 2px 6px 2px; /*TRBL*/
	width: 160px;
	height: 150px;
	display: inline-block;
}

canvas.square {
	width: 50px;
	height: 50px;
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 0px;
}

#background{
	margin-top:30px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width: 550px;
	height:535px;
	border-radius:25px; 
   -moz-border-radius:25px;
	box-shadow: 10px 10px 5px #6D6073;
	background-color:#AB96B2;
	margin-bottom:30px;
}

#board{
	position:absolute;
	width:510px; 
	height:485px;
	margin-left:20px;
	margin-top:25px;
	background-color: black;
	line-height:.8em;
}

#content{
	text-align:center;
}

#controls{
	margin-top:30px;
}

#reset{
	width:85px;
	height:34px;
}

/**	The below code is provided by:
 *    Real-World CSS
 *    by @visualidiot. Licensed under WTPFL.
 */
 

.blink {
    -webkit-animation: blink .75s linear infinite;
    -moz-animation: blink .75s linear infinite;
    -ms-animation: blink .75s linear infinite;
    -o-animation: blink .75s linear infinite;
    animation: blink .75s linear infinite;
}

@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }

    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}


.wordart {
    color: #333; /* This is for non-webkit browsers */
    -webkit-text-fill-color: transparent;

    position: relative;
    display: inline-block;
    
    font: bold 48px "Arial Narrow", sans-serif;
}

.wordart:before {
    content: attr(title);
    
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    
    background: #949261;
    
    -webkit-background-clip: text;
}

.wordart:after {
    content: attr(title);

    position: absolute;
    z-index: 199;
    left: -6px;
    bottom: -10px;
    
    z-index: 1;
    
    
    -webkit-text-fill-color: #000;
    -webkit-transform: skew(40deg, 0deg) scaleY(.5);
    
    opacity: .1;
}


.marquee {
    height: 30px;
    
    overflow: hidden;
    position: relative;
}
    .marquee div {
        display: block;
        width: 200%;
        height: 30px;
        
        position: absolute;
        overflow: hidden;
        
        -webkit-animation: marquee 4s linear infinite;
        -moz-animation: marquee 4s linear infinite;
        -ms-animation: marquee 4s linear infinite;
        -o-animation: marquee 4s linear infinite;
        animation: marquee 4s linear infinite;
    }
    .marquee span {
        float: left;
        width: 50%;
    }
    
@-webkit-keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}
@-moz-keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}
@-ms-keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}
@-o-keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}
@keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
}

/* @group Third Degree */

.third-degree_cw {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
    
    font-size: 2em;
    display: inline-block;
    position: relative;
    
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9986295347545738, M12=-0.05233595624294383, M21=0.05233595624294383, M22=0.9986295347545738, sizingMethod='auto expand');
    zoom: 1;
}

.third-degree_ccw {
    -webkit-transform: rotate(357deg);
    -moz-transform: rotate(357deg);
    -ms-transform: rotate(357deg);
    -o-transform: rotate(357deg);
    transform: rotate(357deg);
    
    font-size: 2em;
    display: inline-block;
    position: relative;
    
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9986295347545738, M12=-0.05233595624294383, M21=0.05233595624294383, M22=0.9986295347545738, sizingMethod='auto expand');
    zoom: 1;
}

/* @end */