body{
	background-color:#5FA92A;
}

h1{
	color: #033E6B;
}

#chunk_r1c1,
#chunk_r1c2,
#chunk_r1c3,
#chunk_r2c1,
#chunk_r2c2,
#chunk_r2c3,
#chunk_r3c1,
#chunk_r3c2,
#chunk_r3c3 {
	margin: 6px 2px 6px 2px; /*TRBL*/
	width: 160px;
	height: 150px;
	display: inline-block;
}

canvas.square {
	width: 50px;
	height: 50px;
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 0px;
}

#background{
	margin-top:30px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width: 550px;
	height:550px;
	border-radius:25px; 
   -moz-border-radius:25px;
	box-shadow: 10px 10px 5px #024C68;
	background-color:#0776A0;
	margin-bottom:30px;
}

#board{
	position:absolute;
	width:510px; 
	height:500px;
	margin-left:20px;
	margin-top:25px;
	background-color: black;
	line-height:.8em;
}

#content{
	text-align:center;
}

#controls{
	margin-top:30px;
}

#reset{
	width:85px;
	height:34px;
}