body{
	background-color:#5FA92A;
}

h1{
	color: #033E6B;
}

h2{
	color: #033E6B;
	position: absolute;
	margin-top:45%;
	margin-left:40%;
	background-color:#0776A0;
	z-index:1;
}

#chunk_r1c1,
#chunk_r1c2,
#chunk_r1c3,
#chunk_r2c1,
#chunk_r2c2,
#chunk_r2c3,
#chunk_r3c1,
#chunk_r3c2,
#chunk_r3c3 {
	margin: 6px 2px 6px 2px; /*TRBL*/
	width: 160px;
	height: 150px;
	display: inline-block;
}

canvas.square {
	width: 50px;
	height: 50px;
	margin-top: 1px;
	margin-bottom: 1px;
	padding: 0px;
}

#background{
	margin-top:30px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width: 550px;
	height:550px;
	border-radius:25px; 
   -moz-border-radius:25px;
	box-shadow: 10px 10px 5px #024C68;
	background-color:#0776A0;
	margin-bottom:30px;
}

#board{
	position:absolute;
	width:510px; 
	height:500px;
	margin-left:20px;
	margin-top:25px;
	background-color: black;
	line-height:.8em;
}

#content{
	text-align:center;
}

#controls{
	margin-top:30px;
}

#reset{
	width:85px;
	height:34px;
}

.blink {
    -webkit-animation: blink .75s linear infinite;
    -moz-animation: blink .75s linear infinite;
    -ms-animation: blink .75s linear infinite;
    -o-animation: blink .75s linear infinite;
    animation: blink .75s linear infinite;
}

@-webkit-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}


.wordart {
    color: #333; /* This is for non-webkit browsers */
    -webkit-text-fill-color: transparent;

    position: relative;
    display: inline-block;
    
    font: bold 48px "Arial Narrow", sans-serif;
}
    .wordart:before {
        content: attr(title);
        
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        
        background: -webkit-linear-gradient(left, rgb(176,9,151) 0%, rgb(227,33,107) 10%, rgb(249,96,30) 25%, rgb(255,180,18) 40%, rgb(255,216,45) 50%, rgb(185,221,23) 61%, rgb(65,160,60) 75%, rgb(19,54,180) 90%, rgb(116,27,157) 100%);
        
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .wordart:after {
        content: attr(title);

        position: absolute;
        z-index: 199;
        left: -6px;
        bottom: -10px;
        
        z-index: 1;
        
        
        -webkit-text-fill-color: #000;
        -webkit-transform: skew(40deg, 0deg) scaleY(.5);
        
        opacity: .3;
    }